body {
  background: #f0f0f0;
  margin-bottom: 5em;
  font-family: sans-serif;
  word-break: break-word;
}
a {
  color: #0877d2;
  text-decoration: none;
}
a:visited {
  color: #1a6e8e;
}
.inbox,
.thread,
.all {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
.message {
  background: #fff;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 1px;
  box-shadow:
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee;
}
.message + .message {
  margin-top: 1em;
}
.message + .message-children,
.message-children + .message {
  margin-top: 1em;
}
.message-children {
}
.message-timestamp {
  float: right;
  color: #888;
}
.message-header + .message-body {
  margin-top: 1em;
}
.thread-preview-unread {
  font-weight: bold
}
.thread-preview {
  background: #fff;
  padding: 10px;
  border: 0.5px solid #ddd;
  border-radius: 1px;
  box-shadow:
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee,
  -1px 1px #eee;
}
.thread-preview + .thread-preview {
  margin-top: 0.25em;
}
.messages-count {
  float: right;
  margin-right: 1em;
  color: #888;
}
.text-quote {
  color: #666;
}
.topnav {

}
.menu-logout {
  float: right;
}
.message-to {
  color: #999;
}
.thread-actions a + a,
.main-actions a + a {
  margin-left: 1em;
}
